* {
  margin: 0;
  padding: 0;
  font-family: "Radley", serif;
}

body {
  height: 100vh;
  background: linear-gradient(#AFD5FA, #2593EE);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  height: 200px;
  width:500px;
  background-color: aliceblue;
  border-radius: 20px;
  box-shadow: 0 0 10px #1c6bac;
  transition: all 0.5s ease-in-out;
}

.search-bar {
  display: flex;
  position: relative;
  margin-top: 50px;
  margin-left: 50px;
  transition: all 0.5s ease-in-out;
}

.city-input {
  width: 375px;
  padding:10px;
  border-radius: 20px;
  font-size: 15px;
  box-shadow: 0 0 10px #AFD5FA;
  border-color: transparent;
  transition: all 0.5s ease-in-out;
}

.city-input:focus {
  box-shadow: 0 0 10px #1c6bac;
  outline: none;
}

.search-bar .img{
  width: 25px;
  position: absolute;
  right: 50px;
  padding:7px 50px;
  background-color: #AFD5FA;
  border-radius: 50px;
  box-shadow: 0 0 10px #AFD5FA;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.search-bar .img:hover {
  background-color: #2999f5;
}

.temp-info{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
}

.temp-info img {
  width: 250px;
  height: 250px;
  transition: all 0.5s ease-in-out;
}

.temp-info h1{
  font-size: 130px;
  color: rgb(67, 67, 67);
  transition: all 0.5s ease-in-out;
}

.city-name {
  text-align: center;
  font-size: 45px;
  color: rgb(67, 67, 67);
}

.other-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  transition: all 0.5s ease-in-out;
}

.humidity-info img, .wind-info img{
  width: 50px;
  height: 50px;
  background-color: #c7e1fa;
  padding: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.humidity-info, .wind-info{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wind-info {
  margin-left: -50px;
  transition: all 0.5s ease-in-out;
}

.all-weather-info {
  display: none;
}

.title {
  margin-bottom: 50px;
}

@media (max-width: 500px) {
  .title {
    text-align: center;
    font-size: 25px;
  }

  .card {
    width: 320px;
  }

  .search-bar {
    margin-left: 35px;
  }

  .search-bar .img {
    right: 35px;
    padding: 8px 30px;
  }

  .city-input {
    width: 225px;
  }

  .temp-info img {
    width: 200px;
    height: 200px;
  }

  .temp-info h1 {
    font-size: 80px;
  }

  .other-info {
    display: flex;
    flex-direction: column;
  }

  .other-info .humidity-info{
    margin-bottom: 20px;
  }
  .wind-info {
    margin-left: 28px;
  }
  
}
